{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form_errors {
            color: red;
        }
        .hidden {
            display: none;
        }
        .form-fieldset {
            border: 1px solid black; /* Bordure noire */
            padding: 1.5em;
            margin-bottom: 1.5em;
            border-radius: 0.5em;
            position: relative;
        }
        .form-legend {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 0.5em;
            color: black; /* Couleur du texte de la légende */
            padding: 0 0.5em;
            position: absolute;
            top: -0.7em; /* Ajustez cette valeur pour centrer verticalement */
            left: 1em; /* Ajustez cette valeur pour centrer horizontalement */
            background: white;
            border-radius: 0.5em; /* Arrondir les coins */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="form-title mb-4">Inscription</h2>
                {{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                <fieldset class="form-fieldset">
                    <legend class="form-legend">Informations personnelles</legend>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'required': 'required'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.plainPassword, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe', 'required': 'required'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.nom, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom', 'required': 'required'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.nom) }}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.prenom, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom', 'required': 'required'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.prenom) }}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.telephone, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone', 'required': 'required'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.telephone) }}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-fieldset">
                    <legend class="form-legend">Type de client</legend>

                    <div class="form-group mb-3">
                        {{ form_widget(registrationForm.type_client, {'attr': {'required': 'required'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.type_client) }}
                        </div>
                    </div>
                </fieldset>

                <fieldset id="professional-fields" class="form-fieldset hidden">
                    <legend class="form-legend">Informations professionnelles</legend>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.siret, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.siret, {'attr': {'class': 'form-control', 'placeholder': 'SIRET'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.siret) }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.entreprise, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.entreprise, {'attr': {'class': 'form-control', 'placeholder': 'Entreprise'}}) }}
                        <div class="form_errors">
                            {{ form_errors(registrationForm.entreprise) }}
                        </div>
                    </div>
                </fieldset>
                    
                <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
                
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var typeClientField = document.querySelector('input[name="{{ registrationForm.type_client.vars.full_name }}"]:checked');
            var professionalFields = document.getElementById('professional-fields');
            var siretField = document.querySelector('#{{ registrationForm.siret.vars.id }}');
            var entrepriseField = document.querySelector('#{{ registrationForm.entreprise.vars.id }}');

            function toggleProfessionalFields() {
                if (typeClientField && typeClientField.value === 'professionnel') {
                    professionalFields.classList.remove('hidden');
                    siretField.required = true;
                    entrepriseField.required = true;
                } else {
                    professionalFields.classList.add('hidden');
                    siretField.required = false;
                    entrepriseField.required = false;
                }
            }

            var typeClientFields = document.querySelectorAll('input[name="{{ registrationForm.type_client.vars.full_name }}"]');
            typeClientFields.forEach(function(field) {
                field.addEventListener('change', function() {
                    typeClientField = document.querySelector('input[name="{{ registrationForm.type_client.vars.full_name }}"]:checked');
                    toggleProfessionalFields();
                });
            });

            // Appel de la fonction au chargement de la page pour définir l'état correct
            toggleProfessionalFields();
        });
    </script>
{% endblock %}




















