{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">{{ categorie.nom }}</h1>
    <div class="row mt-4">
        {% if categorie.sousCategories is not empty %}
            {% for sousCategorie in categorie.sousCategories %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 shadow-sm">
                        {% if sousCategorie.getImage() %}
                            <img src="{{ sousCategorie.getImage() }}" class="card-img-top" alt="{{ sousCategorie.getNom() }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ sousCategorie.getNom() }}</h5>
                            <a href="{{ path('sous_categorie', {'categorieId': categorie.id, 'sousCategorieId': sousCategorie.id}) }}" class="btn btn-primary">Voir les produits</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune sous-catégorie trouvée.</p>
        {% endif %}
    </div>
{% endblock %}






