{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-4 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center mt-5">
            <h1 class="mb-4">Bienvenue sur la page d'accueil</h1>

            <div class="row">
                {# Afficher les 5 catégories principales #}
                {% for categorie in categories %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                        <div class="my-3 mx-auto text-center border rounded p-4">
                            <a href="{{ path('categorie', {'id': categorie.id}) }}">
                                <img src="https://picsum.photos/400/300" alt="" class="img-fluid mb-3 rounded-lg">
                                <br>
                                <span class="fw-bold">{{ categorie.nom }}</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}

                {# Afficher les 5 sous-catégories aléatoires #}
                {% for sousCategorie in randomSousCategories %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                        <div class="my-3 mx-auto text-center border rounded p-4">
                            <a href="{{ path('sous_categorie', {'categorieId': 1, 'sousCategorieId': 10}) }}">
                                {% if sousCategorie.image is not null %}
                                    <img src="{{ sousCategorie.image }}" alt="" class="img-fluid mb-3 rounded-lg">
                                {% else %}
                                    <img src="https://picsum.photos/400/300" alt="" class="img-fluid mb-3 rounded-lg">
                                {% endif %}
                                <br>
                                {{ sousCategorie.nom }}
                            </a>
                        </div>
                    </div>
                    {# Ajoutez un div pour mettre à la ligne après chaque 5e sous-catégorie #}
                    {% if loop.index % 5 == 0 %}
                        <div class="w-100"></div>
                    {% endif %}
                {% endfor %}
            </div>

            {# Liens vers le dashboard et le profil #}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="row mt-4">
                    <div class="col-md-12">
                        <a href="{{ path('app_dashboard') }}" class="btn btn-primary">Accéder au tableau de bord</a>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <div class="row mt-4">
                    <div class="col-md-12">
                        <a href="{{ path('app_profil') }}" class="btn btn-primary">Accéder à votre profil</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}






























