{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-registration">
        <h1 class="display-4">Inscription</h1>
        {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group row">
                {{ form_label(registrationForm.prenom, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.prenom) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.nom, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.nom) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.password, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.password) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.typeClient, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.typeClient, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.typeClient) }}
                </div>
            </div>
            <div class="form-group row siret-field" style="display: none;">
                {{ form_label(registrationForm.siret, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.siret, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.siret) }}
                </div>
            </div>
            <div class="form-group row entreprise-field" style="display: none;">
                {{ form_label(registrationForm.entreprise, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.entreprise, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.entreprise) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.rue, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.rue, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.rue) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.ville, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.ville, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.ville) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.codePostal, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.codePostal, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.codePostal) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.pays, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.pays, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.pays) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.referenceClient, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.referenceClient, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.referenceClient) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(registrationForm.coefficient, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.coefficient, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.coefficient) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    {{ form_widget(registrationForm.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const typeClientRadios = document.querySelectorAll('input[name="registration_form[typeClient]"]');
        const siretField = document.querySelector('.siret-field');
        const entrepriseField = document.querySelector('.entreprise-field');

        function toggleFields() {
            const selectedTypeClient = document.querySelector('input[name="registration_form[typeClient]"]:checked');
            if (selectedTypeClient && selectedTypeClient.value === 'professionnel') {
                siretField.style.display = 'flex';
                entrepriseField.style.display = 'flex';
            } else {
                siretField.style.display = 'none';
                entrepriseField.style.display = 'none';
            }
        }

        typeClientRadios.forEach(radio => {
            radio.addEventListener('change', toggleFields);
        });

        toggleFields(); // Initial call to set the correct state on load
    });
    </script>
{% endblock %}












