{# templates/main/sous_categorie.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sous-catégorie : {{ sousCategorie.nom }}{% endblock %}

{% block body %}
    <div class="container pt-4">
        <h1 class="my-4">Sous-catégorie : {{ sousCategorie.nom }}</h1>

        <h2>Produits associés :</h2>
        <div class="row">
            {% if produits is empty %}
                <p>Aucun produit trouvé pour cette sous-catégorie.</p>
            {% else %}
                {% for produit in produits %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ produit.photo }}" alt="Image de la sous-catégorie {{ produit.photo }}" class="img-fluid mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ produit.libelleCourt }}</h5>
                                <p class="card-text">{{ produit.libelleLong }}</p>
                                <p class="card-text">Prix Vente : {{ produit.prixVente }} €</p>
                                <p class="card-text">Prix Achat : {{ produit.prixAchat }} €</p>
                                <a href="{{ path('panier_ajouter', {id: produit.id}) }}" class="btn btn-primary">+</a>
                                <a href="{{ path('panier_diminuer', {id: produit.id}) }}" class="btn btn-warning">-</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
{% endblock %}
