{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container-profil mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Profil de {{ user.prenom|e }} {{ user.nom|e }}</h1>
            <dl class="row">
                <dt class="col-sm-3">{{ 'Email:'|trans }}</dt>
                <dd class="col-sm-9">{{ user.email|e }}</dd>
                {# Ajoutez d'autres champs de profil ici si nécessaire #}
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <h2>{{ 'Vos Commandes'|trans }}</h2>
        {% if commandes is not empty %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'ID Commande'|trans }}</th>
                            <th>{{ 'Date'|trans }}</th>
                            <th>{{ 'Montant Total'|trans }}</th>
                            <th>{{ 'Statut'|trans }}</th>
                            <th>{{ 'Produits Commandés'|trans }}</th> {# Nouvelle colonne pour afficher les produits #}
                        </tr>
                    </thead>
                    <tbody>
                        {% for commande in commandes %}
                            <tr>
                                <td>{{ commande.id }}</td>
                                <td>{{ commande.dateCommande|date('d/m/Y H:i') }}</td>
                                <td>{{ commande.montantTotal }} €</td>
                                <td>{{ commande.statut|trans }}</td>
                                <td>
                                    <ul>
                                        {% for commandeProduit in commande.commandeProduits %}
                                            <li>
                                                {{ commandeProduit.produit.libelleCourt|e }} - {{ commandeProduit.quantite }} {{ 'pièce(s)'|trans }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                {{ 'Vous n\'avez pas encore passé de commande.'|trans }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}





