<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VillageGreen</title>
    <link rel="stylesheet" href="{{ asset('/styles/app.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('/build/images/Logo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <style>
        .footer-opaque {
            background-color: rgba(0, 0, 0, 0.8); /* Fond noir avec 80% d'opacité */
        }
    </style>
</head>
<body>
    <!-- Navbar horizontale -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('accueil') }}">
                <img src="{{ asset('build/images/Logo.png') }}" alt="Logo" style="height: 60px; width: auto;">
                VillageGreen
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}"><i class="bi bi-house"></i> Accueil</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_profil') }}"><i class="bi bi-person"></i> Profil</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-right"></i> Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}"><i class="bi bi-pencil-square"></i> Inscription</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('produits') }}"><i class="bi bi-box-seam"></i> Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('panier') }}"><i class="bi bi-cart"></i> Panier <span id="cart-count" class="badge bg-primary">0</span></a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="#services"><i class="bi bi-gear"></i> Services</a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="#about"><i class="bi bi-info-circle"></i> À propos</a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="#contact"><i class="bi bi-envelope"></i> Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Catégories
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="categoriesDropdown" data-bs-theme="dark">
                                {% for categorie in categories %}
                                    {% if categorie.categorieParent is null %}
                                        <li>
                                            <a class="dropdown-item" href="{{ path('categorie', {nom: categorie.nom}) }}">
                                                {{ categorie.nom }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
                <form class="d-flex" action="{{ path('search') }}" method="GET">
                    <input class="form-control me-2" type="search" name="query" placeholder="Rechercher par nom" aria-label="Search" required>
                    <select class="form-control me-2" name="type">
                        <option value="categorie">Categorie</option>
                        <option value="produit">Produit</option>
                    </select>
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                </form>
                {% if app.user %}
                    <form class="d-flex" action="{{ path('logout') }}" method="post">
                        <button class="btn btn-outline-danger ms-2" type="submit">Déconnexion</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Contenu principal -->
    <div class="container mt-5 bg-main-content pb-5">
        {% block body %}
        {% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="footer-opaque text-light text-center py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>Liens utiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('accueil') }}" class="text-light">Accueil</a></li>
                        <li><a href="{{ path('produits') }}" class="text-light">Produits</a></li>
                        <li><a href="#services" class="text-light">Services</a></li>
                        <li><a href="#about" class="text-light">À propos</a></li>
                        <li><a href="#contact" class="text-light">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-telephone"></i> +33 1 23 45 67 89</li>
                        <li><i class="bi bi-envelope"></i> contact@villagegreen.com</li>
                        <li><i class="bi bi-geo-alt"></i> 123 Rue de Paris, 75001 Paris, France</li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Suivez-nous</h5>
                    <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <p>&copy; 2024 VillageGreen. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS et JS personnalisé -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    {% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                function updateCartCount() {
                    fetch("{{ path('api_panier_count') }}")
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('cart-count').textContent = data.count;
                        })
                        .catch(error => console.error('Error fetching cart count:', error));
                }

                updateCartCount();
            });
        </script>
    {% endblock %}
</body>
</html>



















