{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
    <h1>Liste des Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle Court</th>
                <th>Libelle Long</th>
                <th>Prix Achat</th>
                <th>Prix Vente</th>
                <th>Catégorie</th>
                <th>Sous-Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelleCourt }}</td>
                <td>{{ produit.libelleLong }}</td>
                <td>{{ produit.prixAchat }}</td>
                <td>{{ produit.prixVente }}</td>
                <td>{{ produit.sousCategorie.categorieParent.nom }}</td>
                <td>{{ produit.sousCategorie.nom }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-info">Voir</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning">Éditer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}" class="btn btn-success">Créer un nouveau Produit</a>
{% endblock %}







